/*修改主页字体*/
@font-face {
  font-family: 'arzhu';
  src: url('https://cdn.jsdelivr.net/gh/heveryplus/cdn/font/fangyuanSJ.ttf'); /* 修改成你的字体 */
  font-display: swap
}

h1#site-title {
  font-family: arzhu !important
}

span#subtitle {
  font-family: arzhu !important
}

a#site-name {
  font-family: arzhu, serif !important
}

/*3s为加载动画的时间，1为加载动画的次数，ease-in-out为动画效果*/
#page-header,
#web_bg {
  -webkit-animation: imgblur 3s 1 ease-in-out;
  animation: imgblur 3s 1 ease-in-out;
}

@keyframes imgblur {
  0% {
    filter: blur(5px);
  }
  100% {
    filter: blur(0px);
  }
}

/*适配使用-webkit内核的浏览器 */
@-webkit-keyframes imgblur {
  0% {
    -webkit-filter: blur(5px);
  }
  100% {
    -webkit-filter: blur(0px);
  }
}

/*全局背景透明渐变*/
/*#recent-posts>.recent-post-item,.layout_page>div:first-child:not(.recent-posts),.layout_post>#page,.layout_post>#post,.read-mode .layout_post>#post {*/
/*  background: var(--light_bg_color)*/
/*}*/

/*#aside-content .card-widget {*/
/*  background: var(--light_bg_color)*/
/*}*/

/*#content-inner {*/
/*  background: linear-gradient(90deg,rgba(247,149,51,.1),rgba(243,112,85,.1) 15%,rgba(239,78,123,.1) 30%,rgba(161,102,171,.1) 44%,rgba(80,115,184,.1) 58%,rgba(16,152,173,.1) 72%,rgba(7,179,155,.1) 86%,rgba(109,186,130,.1))*/
/*}*/

/*页脚透明渐变*/
#footer {
  background: rgba(255, 255, 255, .15);
  color: #000;
  border-top-right-radius: 20px;
  border-top-left-radius: 20px;
  backdrop-filter: saturate(100%) blur(5px)
}

#footer::before {
  background: rgba(255, 255, 255, .15)
}

#footer #footer-wrap {
  color: var(--font-color)
}

#footer #footer-wrap a {
  color: var(--font-color)
}

/*去除左上角标题*/
#nav #site-name {
  display: none;
}
#aside-content img{
  transition: none;
}