/*修改主页字体*/
@font-face {
  font-family: 'arzhu';
  src: url('https://cdn.jsdelivr.net/gh/heveryplus/cdn/font/fangyuanSJ.ttf'); /* 修改成你的字体 */
  font-display: swap
}

h1#site-title {
  font-family: arzhu !important
}

span#subtitle {
  font-family: arzhu !important
}

a#site-name {
  font-family: arzhu, serif !important
}

/* 更换字体*/
@font-face {
  font-family: 'tzy';
  /* 字体名自定义即可 */
  src: url('https://cdn.jsdelivr.net/gh/tzy13755126023/BLOG_SOURCE/font/ZhuZiAWan.woff2');
  /* 字体文件路径 */
  font-display: swap;
  font-size: 16px;
}

body,
.gitcalendar {
  font-family: tzy !important;
}

/*3s为加载动画的时间，1为加载动画的次数，ease-in-out为动画效果*/
#page-header,
#web_bg {
  -webkit-animation: imgblur 3s 1 ease-in-out;
  animation: imgblur 3s 1 ease-in-out;
}

@keyframes imgblur {
  0% {
    filter: blur(5px);
  }
  100% {
    filter: blur(0px);
  }
}

/*适配使用-webkit内核的浏览器 */
@-webkit-keyframes imgblur {
  0% {
    -webkit-filter: blur(5px);
  }
  100% {
    -webkit-filter: blur(0px);
  }
}

/* 标签外挂 网站卡片 start */
.site-card-group img {
  margin: 0 auto .1rem !important;
}

.site-card-group .info a img {
  margin-right: 10px !important;
}

[data-theme='dark'] .site-card-group .site-card .info .title {
  color: #f0f0f0 !important;
}

[data-theme='dark'] .site-card-group .site-card .info .desc {
  color: rgba(255, 255, 255, .7) !important;
}

.site-card-group .info .desc {
  margin-top: 4px !important;
}

/* 代码块颜色 */
figure.highlight pre .addition {
  color: #00bf03 !important;
}

/*全局背景透明渐变*/
/*#recent-posts>.recent-post-item,.layout_page>div:first-child:not(.recent-posts),.layout_post>#page,.layout_post>#post,.read-mode .layout_post>#post {*/
/*  background: var(--light_bg_color)*/
/*}*/

/*#aside-content .card-widget {*/
/*  background: var(--light_bg_color)*/
/*}*/

/*#content-inner {*/
/*  background: linear-gradient(90deg,rgba(247,149,51,.1),rgba(243,112,85,.1) 15%,rgba(239,78,123,.1) 30%,rgba(161,102,171,.1) 44%,rgba(80,115,184,.1) 58%,rgba(16,152,173,.1) 72%,rgba(7,179,155,.1) 86%,rgba(109,186,130,.1))*/
/*}*/

/*页脚透明渐变*/
#footer {
  background: rgba(255, 255, 255, .15);
  color: #000;
  border-top-right-radius: 20px;
  border-top-left-radius: 20px;
  backdrop-filter: saturate(100%) blur(5px)
}

#footer::before {
  background: rgba(255, 255, 255, .15)
}

#footer #footer-wrap {
  color: var(--font-color)
}

#footer #footer-wrap a {
  color: var(--font-color)
}

/*去除左上角标题*/
#nav #site-name {
  display: none;
}

/*禁止头像旋转*/
#aside-content img {
  transition: none;
}


/*iconfont默认样式*/
.icon {
  width: 1em;
  height: 1em;
  vertical-align: -0.15em;
  fill: currentColor;
  overflow: hidden;
}

/* 页脚蝴蝶振翅动画 */
.copyright svg {
  animation: butterfly 1s linear infinite alternate;
}

@keyframes butterfly {
  from {
    transform: rotateY(70deg);
  }
  to {
    transform: rotateY(0deg);
  }
}