/* 标题字体*/
@font-face {
  font-family: 'arzhu';
  src: url('https://cdn.jsdelivr.net/gh/heveryplus/cdn/font/BaoTuXiaoBaiTi.ttf');
  font-display: swap
}
/*修改主页字体*/
@font-face {
  font-family: 'tzy';
  /* 字体名自定义即可 */
  src: url('https://cdn.jsdelivr.net/gh/tzy13755126023/BLOG_SOURCE/font/ZhuZiAWan.woff2');
  /* 字体文件路径 */
  font-display: swap;
  font-size: 16px;
}

body,
.gitcalendar {
  font-family: tzy !important;
}

/*!* 标签外挂 网站卡片 start *!*/
/*.site-card-group img {*/
/*  margin: 0 auto .1rem !important;*/
/*}*/

/*.site-card-group .info a img {*/
/*  margin-right: 10px !important;*/
/*}*/

/*[data-theme='dark'] .site-card-group .site-card .info .title {*/
/*  color: #f0f0f0 !important;*/
/*}*/

/*[data-theme='dark'] .site-card-group .site-card .info .desc {*/
/*  color: rgba(255, 255, 255, 0.5) !important;*/
/*}*/

/*.site-card-group .info .desc {*/
/*  margin-top: 4px !important;*/
/*}

/*!* 代码块颜色 *!*/
/*figure.highlight pre .addition {*/
/*  color: #00bf03 !important;*/
/*}*/

/* 页面透明度修改*/
/* 首页文章卡片 */
#recent-posts > .recent-post-item {
  background: rgba(255, 255, 255, 0.9);
}

/* 首页侧栏卡片 */
.card-widget {
  background: rgba(255, 255, 255, 0.9) !important;
}

/* 文章页面正文背景 */
div#post {
  background: rgba(255, 255, 255, 0.9);
}

/* 分页页面 */
div#page {
  background: rgba(255, 255, 255, 0.9);
}

/* 归档页面 */
div#archive {
  background: rgba(255, 255, 255, 0.9);
}

/* 标签页面 */
div#tag {
  background: rgba(255, 255, 255, 0.9);
}

/* 分类页面 */
div#category {
  background: rgba(255, 255, 255, 0.9);
}

/* 页脚透明 */
#footer {
  background: transparent !important;
}

/* 头图透明 */
#page-header {
  background: transparent !important;
}

#page-header h1#site-title {
  font-family: arzhu, serif !important;
  font-size: 54px;
}

/* 页脚透明 */
#footer::before{
  background: transparent !important;
}
/*夜间模式伪类遮罩层透明*/
[data-theme='dark'] #footer::before{
  background: transparent !important;
}
/*夜间模式透明度修改*/
[data-theme="dark"] #page-header::before {
  background: transparent !important;
}

[data-theme="dark"] div#page {
  background: rgba(0, 0, 0, 0.5) !important;
}

[data-theme="dark"] #nav {
  background: rgba(0, 0, 0, 0.5) !important;
}

[data-theme="dark"] #aside-content .card-widget {
  background: rgba(0, 0, 0, 0.5) !important;
}

[data-theme="dark"] div#post {
  background: rgba(0, 0, 0, 0.5) !important;
}

/*去除左上角标题*/
#nav #site-name {
  display: none;
}

/*禁止头像旋转*/
#aside-content img {
  transition: none;
}


/*iconfont默认样式*/
.icon {
  width: 1em;
  height: 1em;
  vertical-align: -0.15em;
  fill: currentColor;
  overflow: hidden;
}

/* 页脚蝴蝶振翅动画 */
.copyright svg {
  animation: butterfly 1s linear infinite alternate;
  vertical-align: middle;
}

@keyframes butterfly {
  from {
    transform: rotateY(70deg);
  }
  to {
    transform: rotateY(0deg);
  }
}

