@font-face {
  font-family: "iconfont"; /* Project id 2920056 */
  src: url('//at.alicdn.com/t/font_2920056_ar9z2pan5v.woff2?t=1636223408886') format('woff2'),
  url('//at.alicdn.com/t/font_2920056_ar9z2pan5v.woff?t=1636223408886') format('woff'),
  url('//at.alicdn.com/t/font_2920056_ar9z2pan5v.ttf?t=1636223408886') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 28px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  vertical-align: middle;
}

.icon-weibo:before {
  content: "\e6c4";
}

.icon-aui-icon-weichat:before {
  content: "\e632";
  color: #26be2d;
  font-size: 32px;
}

.icon-QQ:before {
  content: "\e882";
  color: #00a6fb;
  font-size: 27px;
}

.icon-icon_bilibili:before {
  content: "\e600";
  color: #f97298;
  font-size: 34px;
}
.icon-csdn:before {
  content: "\e601";
  color: #cc0015;
  font-size: 22px;
}
